*{
    margin:0px;
}

#main{
    margin-top: 1px;
}

#canvas{
    border: 5px solid rgb(119, 64, 236);
    width:80%;
    height: 680px;
    margin:auto;
    overflow-y: auto;
    border-radius: 5px;
}

#form-body{
    border:1px solid black;
    width: 300px;
    height: 400px;
    margin:auto;
    margin-top: 130px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: -20px 20px 10px rgb(95, 221, 243);
}

#top{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 10px;
    border-bottom: 1px solid black;
    box-shadow: 0px 15px 10px rgb(95, 221, 243);
}

.headings{
    margin: 10px;
    padding: 10px;
    margin-top: 10px;
}

#inside-content {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 360px;
    margin: auto;
    padding: 15px;
    overflow-y: auto;    /* Enable scrolling */
    box-shadow: -20px 20px 10px rgb(95, 221, 243);
}

#inside-content table {
    width: 100%;
    border-collapse: separate;
}

#inside-content table td {
    text-align: center;
    padding: 10px;
}

#inside-content thead {
    position: sticky;
    top: -15px;
    background: white;
    z-index: 1;
}

#inside-content thead th {
    top:0px;
    padding: 10px;
    position: sticky;
    border-bottom: 2px solid black;
    text-align: center;
}

#inside-overview{
    margin: 30px;
}