<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<style>
    #form-body{
        height: 355px;
        width:50%;
        padding: 20px;
    }
</style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
               <div class="text-center">
                    <h4>Student Application</h4><br>
                </div>
                <div class="d-flex justify-content-between align-items-start">
                    <!-- Left Side: Details -->
                    <div id="details">
                        <p><strong>Student Name : </strong>Aman Kumar Mahali</p>
                        <p><strong>Department : </strong>Data Science</p>
                        <p><strong>Drive : </strong>Drive 2</p>
                        <p><strong>Job title : </strong>Data Scientist</p><br>
                    </div>

                    <!-- Right Side: DP -->
                    <div>
                        <img src="/placement-portal-application/static/student.jpg"
                            alt="Student DP"
                            class="img-fluid square-image"
                            width="100">
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Resume">
                    <input type="submit" class="btn btn-primary" value="Back">
                </div> 
            </div>    
        </div>
    </div>
</body>
</html>