<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<style>
    #form-body{
        width:50%;
    }
</style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
               <div class="text-center">
                    <h4>Drive Details</h4><br>
                </div>
                <div id="details">
                    <p><strong>Company Name : </strong>Company1</p>
                    <p><strong>Drive Name : </strong>Drive 2</p>
                    <p><strong>Job Title : </strong>Data Scientist</p>
                    <p><strong>Job Description : </strong>This drive is for Data Scientist positions. Candidates should have experience in Python.</p>
                    <p><strong>Salary : </strong>50,000 INR</p>
                    <p><strong>Location : </strong>Chennai</p>
                </div>
                <div class="text-center">   
                    <input type="submit" class="btn btn-primary" value="Back">
                </div> 
            </div>    
        </div>
    </div>
</body>
</html>