<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<style>
    #form-body{
        width: 370px;
        height: 610px;
        margin-top: 30px;
    }
    #inside-content{
    margin-top: 15px;
    padding: 20px;
    height:350px;
    width: 80%;
}
</style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="top">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand">Welcome {{student.username}}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-success me-2" href="{{ url_for('student') }}">Back</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-success me-2" href="#">History</a>         
                            </li>
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-danger me-2" href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </nav>
            </div><br>
            <div class="text-center">
                <h4>Edit Profile</h4>
            </div><br>
            <div id="inside-content">                    
                <form action="{{ url_for('std_edit_profile') }}" method="post" class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Student ID</label>
                        <input type="text" class="form-control" value="{{ student.id }}" aria-label="Disabled input example" disabled readonly>                   
                    </div>
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ student.username}}" required>                    
                    </div>
                    <div class="col-md-6">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" name="age" value="{{ student.age }}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Gender</label>
                        <select class="form-select" id="gender" name="gender" value="{{ student.gender }}" required>
                            <option selected disabled>Choose</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="department" class="form-label">Department</label>
                        <input type="text" class="form-control" id="department" name="dept" required>
                    </div>
                    <div class="col-md-6">
                        <label for="cgpa" class="form-label">CGPA</label>
                        <input type="text" class="form-control" id="cgpa" name="cgpa" required>
                    </div>
                    <div class="text-center">   
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</body>
</html>